/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-bottom: 1px solid #444;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #fff;
}

.section {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section:nth-child(even) {
    background-color: #333;
    color: #fff;
    flex-direction: row-reverse;
}

.section:nth-child(odd) {
    background-color: #1e1e1e;
    color: #fff;
}

.section:nth-child(odd) p strong,
.section:nth-child(even) p strong {
    color: #ff0000;
}

.section h2 {
    margin-top: 0;
    font-size: 2em;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    flex-basis: 50%;
}

.section p {
    line-height: 1.6;
    flex-basis: 50%;
}

.section img {
    max-width: 100%;
    height: auto;
}

.section#niche,
.section#content,
.section#trust,
.section#algorithm,
.section#hooks,
.section#cta,
.section#trends,
.section#editing,
.section#branding,
.section#results {
    background-image: url('images.jpeg');
    background-size: cover;
    background-blend-mode: overlay;
}
